.home {
    min-height         : 100vh;
    display            : flex;
    align-items        : center;
    background         : url(../img/home-img.jpeg) no-repeat;
    background-size    : cover;
    background-position: center;

    .content {
        max-width: 60rem;

        h3 {
            text-transform: uppercase;
            @include fontStyle(6rem, $white);
        }

        p {
            padding    : 1rem 0;
            font-weight: linear;
            line-height: 1.8;
            @include fontStyle(2rem, $white);
        }

    }


}